# OS
.DS_Store

# IDE
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/
covid/.ipynb_checkpoints/
notebooks/

# Tests
tests/
.pytest_cache/

# Bytecode
*__pycache__*
*__pycache_-*
*.pyc

# Data
*.json
*.pkl
