# OS
.DS_Store

# IDE
.vscode/
.idea/

# Notebooks articfacts
.ipynb_checkpoints/
covid/.ipynb_checkpoints/

# Bytecode
*__pycache__*
*__pycache_-*
*.pyc

# Result data
*.json
*.pkl

# Test artifacts
.pytest_cache/
